<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yAPPING.yappingproject"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>



    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.parse.starter.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.yAPPING.yappingproject.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:name="com.yAPPING.yappingproject.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.yAPPING.yappingproject.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yAPPING.yappingproject.MainActivity"
            android:label="YappingProject"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name="com.yAPPING.yappingproject.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yAPPING.yappingproject.Ask"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.yAPPING.yappingproject.Category"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.yAPPING.yappingproject.ProfileActivity"
            android:label="User Profile"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yAPPING.yappingproject.SignUpActivity"
            android:label="Create Account"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.yAPPING.yappingproject.Rating_Activity"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.MustKnow"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.SeeAllQuestions"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.MyQuestions"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.FAQs"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.ViewAnswers"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.CallStartActivity"
            android:label="YappingProject"
            android:screenOrientation="portrait"/>

        <service android:name="com.yAPPING.yappingproject.SinchService"></service>

        <activity android:name="com.yAPPING.yappingproject.CallScreenActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.yAPPING.yappingproject.IncomingCallScreenActivity" android:screenOrientation="portrait"
            android:noHistory="true"/>



        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.yAPPING.yappingproject" />
            </intent-filter>
        </receiver>



    </application>



</manifest>